configuration {
	modi: "window,drun";
	show-icons: true;
	case-sensitive: false;
	theme: "Arc-Dark";	
	icon-theme: "Papirus";
	combi-modi: "window";
    location: 1;
    xoffset: 10;
    yoffset: 30;
    width: 25;
}
